.yedit-page {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

/* Navigation spacer */
.nav-space {
  height: 10vh;
  width: 100vw;
}

/* Search and filter area */
.search-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 10%;
  margin-left: 10%;
  gap: 20px;
}

.search-container select {
  padding: 0.5%;
  border-radius: 8px;
  font-size: 2.5vh;
  background-color: #ffffff;
  border: 1px solid #ccc;
}
.input {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-weight: bold;
  font-size: 1rem;
  color: #182f53;
  cursor: pointer;
}


.search-container input {
  padding: 0.5%;
  width: 20%;
  max-width: 400px;
  border-radius: 8px;
  font-size: 2.5vh;
  background-color: #ffffff;
  border: 1px solid #ccc;
}

/* Add button styling */
.add-btn {
  background-color: #1e2e4f;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 0.7% 1.5%;
  cursor: pointer;
  font-weight: bold;
  font-size: 2.5vh;
  transition: background-color 0.3s ease;
  margin-left: 1%;
}

.add-btn:hover {
  background-color: #16243b;
}

/* Page title */
.title {
  font-size: 4vh;
  font-weight: bold;
  text-align: center;
  color: #182f53;
  margin-top: 2%;
}

/* No data message */
.no-data {
  text-align: center;
  color: #d32f2f;
  font-weight: bold;
  font-size: 4vh;
  margin-top: 3.5%;
}

/* Table section */
.table {
  width: 100%;
  margin-bottom: 2%;
}

.table-wrapper {
  background-color: rgba(217, 217, 217, 1);
  width: 80%;
  height: 100%;
  max-height: 70vh;
  overflow-y: auto;
  border: 8px solid rgba(217, 217, 217, 1);
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.student-table {
  height: 90%;
  border-collapse: collapse;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: auto;
}

.student-table th {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 0.75rem;
  font-weight: bold;
  color: #182f53;
  text-align: center;
  border-bottom: 8px solid rgba(217, 217, 217, 1);
}

.student-table td {
  background-color: white;
  padding: 0.75rem;
  text-align: center;
  border-bottom: 8px solid rgba(217, 217, 217, 1);
}

/* Buttons inside the table */
.delete-btn,
.edit-btn {
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.9rem;
  color: white;
  transition: background-color 0.3s ease;
  margin: 0 5px;
}

.delete-btn {
  background-color: #f44336;
}

.edit-btn {
  background-color: #1e2e4f;
}

.delete-btn:hover {
  background-color: #d32f2f;
}

.edit-btn:hover {
  background-color: #16243b;
}
