.cedit-page {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}



.search-container {
  display: flex;
  justify-content: flex-start;
  height: 10%;
  margin-left: 10%;
  width: 80%;
}

.input {
  width: 20%;
  border-radius: 8px;
  padding-left: 1%;
  background-color: #ffffff;
  height: 45px;
  font-size: 2.3vh;
  border: 1px solid #ccc;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.title {
  font-size: 4vh;
  font-weight: bold;
  text-align: center;
  color: #182f53;
  margin-bottom: 1%;
}

.no-data {
  text-align: center;
  color: #d32f2f;
  font-weight: bold;
  font-size: 3.5vh;
  margin-top: 3%;
}

.table {
  width: 100%;
  margin-bottom: 2%;
}

.table-wrapper {
  background-color: rgba(217, 217, 217, 1);
  width: 80%;
  height: 100%;
  max-height: 70vh;
  overflow-y: auto;
  border: 8px solid rgba(217, 217, 217, 1);
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.student-table {
  height: 90%;
  border-collapse: collapse;
  width: 98%;
  margin: 1% auto;
}

.student-table th {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 0.75rem;
  font-weight: bold;
  color: #182f53;
  text-align: center;
  border-bottom: 8px solid rgba(217, 217, 217, 1);
}

.student-table td {
  background-color: white;
  padding: 0.75rem;
  text-align: center;
  border-bottom: 8px solid rgba(217, 217, 217, 1);
  font-size: 2.2vh;
}

.delete-btn,
.edit-btn {
  padding: 8px 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.9rem;
  color: white;
  transition: background-color 0.3s ease;
  margin: 0 5px;
}

.delete-btn {
  background-color: #f44336;
}

.edit-btn {
  background-color: #1e2e4f;
}

.delete-btn:hover {
  background-color: #d32f2f;
}

.edit-btn:hover {
  background-color: #16223d;
}

/* Responsive fixes */
@media (max-width: 768px) {
  .search-container {
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    width: 90%;
    margin: 0 auto;
  }

  .input {
    width: 80%;
    font-size: 2.5vh;
  }

  .student-table th,
  .student-table td {
    font-size: 2vh;
    padding: 0.5rem;
  }

  .title {
    font-size: 3vh;
  }
}
