.cedit-page {
  font-family: Arial, sans-serif;
  background-color: #f9fafb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav-space {
  height: 10vh;
  width: 100%;
}

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 2% auto;
  flex-wrap: wrap;
  gap: 5%;
}

.input {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-weight: bold;
  font-size: 1rem;
  color: #182f53;
  cursor: pointer;
}


.search-container input {
  width: 25%;
  height: 6vh;
  border-radius: 1.5vh;
  background-color: #ffffff;
  border: 1px solid #ccc;
  font-size: 2vh;
  padding-left: 2%;
}

.title {
  font-size: 3.5vh;
  font-weight: bold;
  text-align: center;
  color: #182f53;
  margin-bottom: 1%;
}

.no-data {
  text-align: center;
  color: #d32f2f;
  font-weight: bold;
  font-size: 3vh;
  margin-top: 3%;
}

.table {
  width: 100%;
  margin-bottom: 2%;
}

.table-wrapper {
  background-color: rgba(217, 217, 217, 1);
  width: 80%;
  max-height: 70vh;
  overflow-y: auto;
  border: 0.5vh solid rgba(217, 217, 217, 1);
  border-radius: 1vh;
  margin: 0 auto;
  padding: 1%;
}

.student-table {
  width: 100%;
  border-collapse: collapse;
}

.student-table th {
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 1vh;
  font-weight: bold;
  color: #182f53;
  text-align: center;
  border-bottom: 0.5vh solid rgba(217, 217, 217, 1);
  font-size: 2vh;
}

.student-table td {
  background-color: #ffffff;
  padding: 1vh;
  text-align: center;
  border-bottom: 0.5vh solid rgba(217, 217, 217, 1);
  font-size: 2vh;
}

.delete-btn,
.edit-btn {
  padding: 1vh 2vh;
  border: none;
  border-radius: 1vh;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.8vh;
  color: white;
  transition: 0.3s ease;
  margin: 0 0.5vh;
}

.delete-btn {
  background-color: #f44336;
}

.edit-btn {
  background-color: #1e2e4f;
}

.delete-btn:hover {
  background-color: #d32f2f;
  transform: scale(1.05);
}

.edit-btn:hover {
  background-color: #23335c;
  transform: scale(1.05);
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .search-container {
    flex-direction: column;
    align-items: center;
    gap: 2vh;
  }

  .input,
  .search-container input {
    width: 70%;
    font-size: 2vh;
  }

  .student-table th,
  .student-table td {
    font-size: 1.8vh;
  }

  .delete-btn,
  .edit-btn {
    font-size: 1.6vh;
    padding: 0.8vh 1.5vh;
  }
}